/* CSS-RESET START*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS-RESET END*/


body{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
	text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  background-color: #A1CDF4;
}

.grid1 { 
	grid-area: header; 
}

.grid2 { 
	grid-area: main; 
}

.grid3 { 
	grid-area: footer;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: white;
	text-align: center;
	padding: 20px;
}


/*Header-Start*/
header{
	background-color: white;
}

.navbar{
	display: grid;
	grid-template-columns: auto auto auto;
}

.logo{
	padding: 1em;
}

.logo-img{
	height: 60px;
}

ul{
 list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #192A51;
}

li {
	float: left;
	margin: 1,05em;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 18px;
}

li a:hover {
	background-color: #3C787E;
}

.active{
	background-color: #3C787E;
}
/*Header-End*/

/*Index-Start*/
.index-img{
	background-image: url("./bilder/brygga.jpg") ; 
	height: 500px;
	background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.index-frame{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: rgb(238, 238, 238);
	opacity: 95%;
	border-radius: 7px;
	width: 50%;
	height: 50%;
	margin-top: 10%;
	margin-left: 25%;
}

.frame-1{
	background: rgb(155, 86, 155);
	color: white;
	border-radius:10px;
	transition: transform .2s;
	width: 80%;
	height: 80%;
	margin: auto;
	text-align: center;
}

.frame-1-1{
	background: rgb(215, 145, 224);
	border-radius: 10px 10px 0px 0px;
	margin-top: 0%;
	width: 100%;
	height: 75%;
}

.frame-1:hover{
	transform: scale(1.03);
}

.frame-2{
	background: rgb(95, 165, 127);
	color: white;
	border-radius:10px;
	transition: transform .2s;
	width: 80%;
	height: 80%;
	margin: auto;
	text-align: center;
}

.frame-2-1{
	background: rgb(133, 216, 177);
	border-radius: 10px 10px 0px 0px;
	margin-top: 0%;
	width: 100%;
	height: 75%;
}

.frame-2:hover{
	transform: scale(1.03);
}

.frame-3{
	background: rgb(89, 164, 194);
	color: white;
	border-radius:10px;
	transition: transform .2s;
	width: 80%;
	height: 80%;
	margin: auto;
	text-align: center;
}

.frame-3-1{
	background: rgb(140, 198, 221);
	border-radius: 10px 10px 0px 0px;
	margin-top: 0%;
	width: 100%;
	height: 75%;
}

.frame-3:hover{
	transform: scale(1.03);
}

.header{
 padding: 10%;
}


/*Index-End*/

/*Val-Start*/
.val-img{
	background-image: url("./bilder/val.jpg") ; 
	height: 500px;
	background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
/*Val-End*/

/*Info-Start*/
.info-img{
	background-image: url("./bilder/bibliotek.jpg") ; 
	height: 500px;
	background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
/*Info-End*/

/*404-Start*/
.main-404{
	height: 400px;
}

.text1-404{
	text-align: center;
	font-size: 3em;
	padding: 5%;
}

.text2-404{
	text-align: center;
}
/*404-End*/














